.container[b-5pxmzsxs85] {
    display: flex;
    flex-wrap: wrap;
}

.user-profile-section[b-5pxmzsxs85] {
    flex-basis: 100%; /* This ensures the section takes full width */
    background-color: #CAA6A6; /* Background color for the user profile section */
    padding: 20px; /* Add padding for spacing */
    border-radius: 10px; /* Rounded corners for aesthetics */
    margin-bottom: 20px; /* Space after the section */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Optional: Adds shadow for depth */
}

.user-profile[b-5pxmzsxs85] {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-picture[b-5pxmzsxs85], .default-profile-picture[b-5pxmzsxs85] {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.requests-section[b-5pxmzsxs85] {
    flex-grow: 1;
   
    padding: 20px; /* Padding for spacing */
    border-radius: 10px; /* Rounded corners for aesthetics */
    max-height: 400px; /* Set a maximum height for the section */
    overflow-y: auto; /* Enable vertical scrollbar when content overflows */
    margin-bottom: 20px; /* Space after the section */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Optional: Adds shadow for depth */
}

.user-request[b-5pxmzsxs85] {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user-picture[b-5pxmzsxs85], .default-user-picture[b-5pxmzsxs85] {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.user-info[b-5pxmzsxs85] {
    margin-left: 15px;
}

.actions[b-5pxmzsxs85] {
    margin-top: 10px;
}

.btn-edit-profile[b-5pxmzsxs85] {
    margin-top: 10px;
}

.btn-primary[b-5pxmzsxs85], .btn-secondary[b-5pxmzsxs85] {
    margin-right: 10px;
}

.btn-edit-profile[b-5pxmzsxs85], .btn-primary[b-5pxmzsxs85] {
    background-color: #944E63; /* Changed color for edit profile and request buttons */
    color: white;
    /* ... other styles ... */
}

.btn-view-profile[b-5pxmzsxs85] {
    background-color: #A267AC; /* New color for view profile button to complement the request button */
    color: white;
    /* ... other styles ... */
}

@media (max-width: 768px) {
    .container[b-5pxmzsxs85] {
        flex-direction: column;
    }

    .user-profile-section[b-5pxmzsxs85], .requests-section[b-5pxmzsxs85] {
        flex-basis: 100%;
    }
}
