.card-title[b-w8lykkrlii] {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
}

.table[b-w8lykkrlii] {
    margin-top: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.thead-dark[b-w8lykkrlii] {
    background-color: #343a40;
    color: white;
}

.table th[b-w8lykkrlii], .table td[b-w8lykkrlii] {
    vertical-align: middle;
}

.btn-sm[b-w8lykkrlii] {
    margin: 0 5px;
}

.btn-info[b-w8lykkrlii] {
    color: white;
}

.btn-warning[b-w8lykkrlii] {
    color: black;
}

.alert-info[b-w8lykkrlii] {
    font-size: 1.25rem;
}

.text-center[b-w8lykkrlii] {
    text-align: center;
}

.gradient-background[b-w8lykkrlii] {
    /* This creates a gradient from pink to a light orange */
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    /* Ensure enough contrast for the content */
    color: #fff;
}
