@page "/explore_about_us"

<h3>About Bliss Bond</h3>
<div id="div1">
    <h1>Welcome to BlissBond!</h1>
    
</div>
<div id="div2">
    <p>Developed by </p>
    <ol>
        <li>Lin Min Thaw</li>
        <li>Pyae Phyo Thu</li>
    </ol>
</div>

@code {
    
}
