@page "/About_us"

<h3>About_Us</h3>
<button onclick="Next()">Learn more about us</button>
<script>
    function Next() {
        window.location.href = "explore_about_us";
    }
</script>
@code {
    
}
