@page "/users/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<hr />
<br />
<a href=" /users/create/signin" class="btn btn-secondary">
	Sign in
</a>




@code {
	User user = new User();
	private async Task CreateUser()
	{
		await _client.PostAsJsonAsync(Endpoints.UsersEndpoint, user);
		_navManager.NavigateTo("/users/");
	}
}
