@media (max-width: 768px) {
    .btn-lg {
        width: 100%;
    }

    .card-body {
        padding: 2rem 1rem; /* Adjust padding for smaller screens */
    }

    .form-outline {
        margin-bottom: 3rem; /* Increase spacing for touch targets */
    }
}

/* For larger screens */
@media (min-width: 900px) {
    .card {
        margin: auto; /* Center the card for medium to large screens */
        width: 60%; /* Adjust the card width as per your design */
    }
}

/* General Styles */
.shadow-2-strong {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}

/* Responsive text size */
.form-label {
    font-size: 1rem;
}

.form-control-lg {
    font-size: 1rem; /* Adjust the font size for form controls */
    width: 100%;
}

/* Adjust button sizes on different screens */
.btn-lg {
    padding: .375rem 1.75rem;
    font-size: 1rem;
}

/* Set a max-height and make it scrollable */
.scrollable-form {
    max-height: 90vh; /* 90% of the viewport height */
    overflow-y: auto; /* Add scroll bar when content is taller than max-height */
}

/* Optional: Responsive breakpoints for different screen sizes */
@media (max-width: 768px) {
    .scrollable-form {
        max-height: 80vh;
    }
}


